@import "../styles/imports";

#app-container {
  display: flex;
  flex-direction: column;

  #toolbar {
    position: fixed;
    @include size(100%, auto);
    z-index: 2;

    span {
      font-family: $primary-font;
      font-weight: $font-weight-light;
      font-size: $font-size-large;
    }
  }

  #app-content {
    @include padding($spacing-xl $spacing-sm $spacing-lg $spacing-sm);
  }
}
