@import "../../../styles/imports";

.update-form__title {
  margin-bottom: $spacing-xs;
  font-size: $font-size-large;
  font-weight: $font-weight-light;
}

.update-form__text {
  resize: none;
}

.update-form__title, .update-form__text {
  &:hover, &:focus, &:active, &:visited {
    outline: none;
  }
}

button {
}
