@import "../../../styles/imports";

.update-form__text {
  resize: none;
  padding: 0;
}

.update-form__title, .update-form__text {
  &:hover, &:focus, &:active, &:visited {
    outline: none;
  }
}

.update-form__header {
  display: flex;

  .update-form__title {
    margin-right: $spacing-sm;
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    resize: none;
  }

  .material-icons {
    margin-top: 1.2rem;
  }
}

input[type="file"] {
  display: none;
}

.update-form__image {
  max-width: 100%;
  max-height: auto;
}
