<navbar
  pageTitle="Update"
  [showBackBtn]="true"
  (backClicked)="handleBackClick()">
</navbar>

<div class="update-form__scrollable-area">
  <div class="update-form__content">

    <div class="update-form__image-upload-box" *ngIf="imageLoading || imagePresent()">
      <mat-progress-spinner *ngIf="imageLoading"
                            color="primary"
                            mode="indeterminate"
                            [strokeWidth]="2"
                            [diameter]="64">
      </mat-progress-spinner>

      <img class="update-form__image" [src]="imageUrls[0]"
           [style.display]="imageLoading ? 'none' : ''"
           (load)="imageLoading=false"
           *ngIf="imagePresent()">
    </div>

    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              class="update-form__text"
              (keyup)="onTextKey($event)"
              placeholder="What's new?"></textarea>
  </div>
</div>

<div class="update-form__actions">

  <div class="update-form__actions--left">
    <button mat-icon-button
            class="update-form__camera"
            (click)="openFileUploader()">
      <i class="material-icons">camera_alt</i>
    </button>
  </div>

  <div class="update-form__actions--right">
    <button mat-icon-button class="update-form__send" (click)="onPostClicked()">
      <i class="material-icons">send</i>
    </button>
  </div>

</div>

<input id="update-form__image-input" type="file" (change)="upload($event)" accept=".png,.jpg"/>
