<img class="update-form__image" [src]="imageUrls[0]" *ngIf="imageUrls && imageUrls.length > 0">

<div class="update-form__header">
  <textarea matInput matTextareaAutosize matAutosizeMinRows="1"
            class="update-form__title"
            (keyup)="onTitleKey($event)"
            placeholder="Title"></textarea>

  <label for="update-form__image-input" class="update-form__camera">
    <i class="material-icons">camera_alt</i>
  </label>
</div>


<textarea matInput matTextareaAutosize matAutosizeMinRows="6"
          class="update-form__text"
          (keyup)="onTextKey($event)"
          placeholder="What's new?"></textarea>


<button mat-raised-button
        color="accent"
        (click)="onPostClicked()"
        class="update-form__add-update-button"
        routerLink="/log">
  Add Update
</button>

<input id="update-form__image-input" type="file" (change)="upload($event)" accept=".png,.jpg"/>
