@import "../../../styles/imports";

.auth__title {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  margin-bottom: $spacing-md;
}

.auth__body {
  margin-bottom: $spacing-sm;
}

.auth__password {
  box-sizing: border-box;
  background-color: mat-color(map-get($picard-app-theme, primary), 50);
  border-radius: $radius-md;
  padding: $spacing-sm;
  width: 100%;

  &.auth__password--error {
    border: 1px solid mat-color(map-get($picard-app-theme, warn));

    &:focus {
      border: 1px solid transparent;
    }
  }
}

.auth__error {
  padding-top: $spacing-xs;
  font-size: $font-size-small;
  color: mat-color(map-get($picard-app-theme, warn));
}

.auth__login-button {
  margin-top: $spacing-sm;
  padding: $spacing-xs;
  width: 100%;
}
